
.ipynb_checkpoints/3)Lemmatization-checkpoint.ipynb
.ipynb_checkpoints/4)Bag of Words-checkpoint.ipynb
.ipynb_checkpoints/TF-IDF-checkpoint.ipynb
.ipynb_checkpoints/6) Spam Classifier-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Spam Classifier/.ipynb_checkpoints/Spam Classifier-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb

fake news classifier/.ipynb_checkpoints/Fake news classifier-checkpoint.ipynb
.ipynb_checkpoints/6)Word2Vec-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Stock price prediction/.ipynb_checkpoints/Stock price pred-checkpoint.ipynb
Word Embedding/.ipynb_checkpoints/Word Embedding techinques-checkpoint.ipynb
fake news classifier/.ipynb_checkpoints/fake news using LSTM-checkpoint.ipynb
